@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --primary-color: antiquewhite;
    --secondary-color: rgb(158, 95, 218);
    letter-spacing: 0.05rem;
    overflow: hidden;
}

* {
    font-family: "Young Serif", serif;
}

body {
    display: flex;
    background-color: black;
}

.bg-img {
    width: 500px;
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    height: 2.5rem;
    position: relative;
    bottom: 3rem;
    color: var(--primary-color);
    font-size: 1rem;
}

.attribution-link {
    color: var(--secondary-color);
}

.left-banner {
    position: relative;
}

.logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 4rem;
    height: 8rem;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo-section img {
    height: 80%;
    filter: drop-shadow(0px 1000px 0 var(--primary-color));
    transform: translateY(-1000px);
}

.logo-name {
    font-family: norse, "Young Serif", serif;
    font-size: 3.2rem;
    color: var(--primary-color);
    padding-left: 0.5rem;
}

.info-section {
    color: var(--primary-color);
}

.main {
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    color: rgb(158, 95, 218);
    justify-self: left;
}

.form-section {
    color: var(--primary-color);
    width: 100%;
    box-shadow: 0 0 30px var(--secondary-color);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin: 1rem 8rem 1rem 0;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 0;
}

.submit-btn {
    margin-top: 2rem;
    padding: 0.7rem 0rem;
    width: 25%;
    border-radius: 1rem;
    border: 1px solid transparent;
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.login {
    color: var(--primary-color);
    margin-top: 0.5rem;
}

#login-link {
    color: var(--secondary-color);
    text-decoration: none;
}

#login-link:hover {
    color: rgb(211, 169, 251);
}

input {
    border-radius: 0.2rem;
    border: none;
    padding: 0.2rem 0.6rem;
}

input:user-invalid,
input:invalid {
    box-shadow: 0 0 10px 1px red;
    border: 1px solid red;
}

input:focus:invalid {
    box-shadow: none;
}
