@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    font-family: "Young Serif", serif;
}

body {
    display: flex;
    background-color: black;
}

.bg-img {
    width: 500px;
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    height: 2.5rem;
    position: relative;
    bottom: 3rem;
    color: rgb(236, 236, 236);
    font-size: 1rem;
}

.attribution-link {
    color: rgb(158, 95, 218);
}

.main {
    margin: 0 3rem;
}

h1 {
    color: rgb(158, 95, 218);
}

.left-banner {
    position: relative;
}

.logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 4rem;
    height: 8rem;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo-section img {
    height: 80%;
}

.logo-name {
    font-family: norse, "Young Serif", serif;
    font-size: 3.2rem;
    color: whitesmoke;
    padding-left: 0.5rem;
}
